  html,body{
    width: 95%;
    height: 100%;
    min-height: 100%;
    background-color: #F5F5F5;
  }

  /* 路由动画 */
  .test-enter-active, .test-leave-active{
    transition: opacity 0.3s;
  }
  .test-enter, .test-leave-active{
    opacity: 0;
  }

  .icon {
    margin: 0 0.1rem;
    width: 0.5rem;
    height: 0.4rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    color: black;
  }

  .view{
    margin: 0 auto;
    padding: 0;
    width: 7.5rem;
  }

  h2{
    font-size: 0.4rem;
    color: black;
  }
  
  h3{
    font-size: 0.35rem;
  }
  
  p{
    color: gray;
  }

  .clean{
    clear: both;
  }

  /* 文本按钮 */
  .text-button{
    border: 0;
    outline: none;
    cursor: pointer;
    background: none;
  }

  /* 通用标签 */
  .tag{
    line-height: 0.5rem;
    text-align: center;
    height: 0.5rem;
    width: 0.8rem;
    border-radius: 15%;
    color: white;
  }

  /* 楼主专用tag */
  .tag-louzhu{
    background-color: orange;
    margin-left: 0.1rem;
    font-size: 0.25rem;
  }
  
  /*头像样式*/
  .headImg img{
    border-radius: 50%;
  }

  dl{
    float: left;
  }
  dt{
    float: left;
    margin: 0.1rem;
  }
  dd{
    padding: 0.2rem;
    float: left;
    color: black;
  }

  .bg{
    float: left;
    background-color: white;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 0.05rem auto;
    padding: 0.05rem;
    width: 7.4rem;
  }

  .rich-input{
    padding: 0.1rem 0.2rem;
    width: 4.5rem;
    min-height: 0.4rem;
    outline: 0;
    border: 1px solid #a0b3d6;
    background-color: white;
  }

  .rich-input:empty::before{
    content:attr(placeholder);
    color:lightgrey;
  }